<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <!--<form>
    Search for keywords:<br>
    &lt;!&ndash;<input type="text" name="keywords" ([ngModel])="data.keywords">&ndash;&gt;<br>
   &lt;!&ndash; <input [(ngModel)]="data.keywords" placeholder="First Name" name="keywords" class="form-control" id="keywords">&ndash;&gt;
    <input type="button" (click)="sendToServer()" value="Submit">
  </form>-->

  <div class="form-group">
    <label for="keywords">Search for keywords:</label>
    <input [(ngModel)]="data.keywords" placeholder="keywords" name="keywords" class="form-control" id="keywords">
    <input type="button" (click)="sendToServer()" value="Submit">
  </div>
</div>


